@import './variables.css';

.burger-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 256px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--blue);
	z-index: 10;
	padding: 32px;
}

.burger-container > .burger-top {
	flex: 1;
}
.burger-top > .burger-close:hover {
	opacity: 0.5;
	cursor: pointer;
}

.burger-container > .burger-mid {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	color: white;
}

.burger-container > .burger-bot {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.button-donation {
	height: var(--inputChatHeight);
	width: var(--btnActionWidth);
	border: 2px solid var(--yellow);
	background-color: var(--yellow);
	border-radius: 50px;
	margin-bottom: 8px;
	box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.05);
}

.button-donation:hover {
	border: 2px solid var(--green);
	background-color: var(--green);
	cursor: pointer;
}

.slide-enter-active,
.slide-leave-active {
	transition: 0.5s ease-in-out;
	left: 0;
}

.slide-enter,
.slide-leave-to {
	left: -256px;
}

.burger-blob {
	position: absolute;
	bottom: 0;
	left: -17px;
	width: inherit;
}

.burger-items.pseudo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.burger-items.link:hover {
	opacity: 0.5;
	cursor: pointer;
}
