@import './variables.css';

.frame {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100vw;
	height: calc(100vh - var(--headerHeight));
	background-color: var(--blue);
	overflow: hidden;
}

.blob {
	position: absolute;
	bottom: -16px;
	left: -16px;
	width: 30vw;
}

.blob2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 30vw;
}

.messages {
	display: flex;
	flex-direction: column;
	height: calc(100% - var(--inputChatHeight) * 2);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 1;
}

.pop-enter-active,
.pop-leave-active {
	transition: opacity 0.2s ease-in;
}

.pop-enter,
.pop-leave-to {
	opacity: 0;
}
