@import './variables.css';

.input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: var(--inputChatWidth);
	height: var(--inputChatHeight);
	transform: translate(-50%, -50%);
}

.searchbar {
	position: absolute;
	height: var(--inputChatHeight);
	width: var(--inputChatWidth);
	border-radius: 50px;
	padding: 0 16px;
	filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.05));
}

.searchbar,
.searchbar:active,
.searchbar:focus,
.searchbar:target,
.searchbar:focus-within,
.searchbar:focus-visible {
	border: 2px solid var(--green);
	outline: none;
}

.btn-send {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	height: var(--inputChatHeight);
	width: var(--btnChatWidth);
	background-color: var(--green);
	border-radius: 50px;
}

.btn-send,
.btn-send:active,
.btn-send:focus,
.btn-send:target,
.btn-send:focus-within,
.btn-send:focus-visible {
	border: 2px solid var(--green);
	outline: none;
}

.btn-send:hover {
	cursor: pointer;
	opacity: 0.5;
}
