@import './variables.css';

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 12.5vw;
}

.container > .profile-pic-left,
.container > .profile-pic-right {
	display: flex;
	flex: 1;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
}

.profile-pic {
	width: 75px;
	height: 75px;
}

.profile-pseudo {
	color: white;
}

.text-container {
	box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.05);
	margin: calc(var(--inputChatHeight) / 2) auto;
	padding: 8px 16px;
	flex: 4;
}

.text-container.user {
	border-radius: 16px 0 16px 16px;
	background-color: var(--green);
}

.text-container.bot {
	border-radius: 0 16px 16px 16px;
	background: white;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
}
