* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Quicksand-SemiBold';
	src: '../assets/font/Quicksand-Light.ttf' format('ttf'),
		'src/assets/font/Quicksand-Bold.ttf' format('ttf'),
		'src/assets/font/Quicksand-Medium.ttf' format('ttf'),
		'src/assets/font/Quicksand-Regular.ttf' format('ttf'),
		'src/assets/font/Quicksand-SemiBold.ttf' format('ttf'),
		'src/assets/font/Quicksand-VariableFont_wght.ttf' format('ttf');
}

body {
	font-family: 'Quicksand-SemiBold', Fallback, sans-serif;
}
