* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
button {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

.is-blurred {
	transition: 0.5s ease;
	filter: blur(4px);
}

:root {
	--yellow: #ffc91d;
	--blue: #1d386d;
	--green: #95e8b7;
	--lightGrey: #eaf1f8;

	--headerHeight: 95px;
	--frameWidthBig: 45vw;
	--frameWidthSmall: 90vw;
	--momoWidth: 25vw;

	--inputChatHeight: 48px;
	--inputChatWidth: 50vw;
	--btnChatWidth: 64px;
	--btnActionWidth: 128px;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	opacity: 0.5;
}
