* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Quicksand;
	src: url('../font/Quicksand-Light.ttf') format('ttf');
	src: url('../font/Quicksand-Bold.ttf') format('ttf');
	src: url('../font/Quicksand-Medium.ttf') format('ttf');
	src: url('../font/Quicksand-Regular.ttf') format('ttf');
	src: url('../font/Quicksand-SemiBold.ttf') format('ttf');
}

body {
	font-family: Quicksand, Fallback, sans-serif;
}

:root {
	--yellow: #ffc91d;
	--blue: #1d386d;
	--green: #95e8b7;
	--lightGrey: #eaf1f8;

	--headerHeight: 95px;

	--momoWidth: 25vw;

	--inputChatHeight: 48px;
	--inputChatWidth: 50vw;
	--btnChatWidth: 128px;
}
